@import 'swiper/css';
@import 'swiper/css/navigation';

.content-office-video {
    background-color: black;
}

.office-video-title {
    min-height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    
    h2 {
        max-width: 250px;
        margin: 0 auto;
    }

    p {
        margin-top: 12px;
    }
}

.swiper {
    max-width: 100%;
    height: auto;
}

.container-image-coursel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.responsive-img {
    width: 100%;
    object-fit: cover;
    position: relative !important;
    max-width: 100%;
}

.swiper-button-next, .swiper-button-prev {
    color: white;
    font-weight: 700;
}

@media screen and (max-width: 653px) {
    .office-video-title {
        padding: 25px 0px;
    }
}