<section class="content-footer">
    <div class="color-white text-center">
        <div class="margin content-logo">
            <div class="logo-footer"></div>
        </div>

        <div>
            <h2 class="color-primary font-bold"> CONTACTO </h2>
            
            <div class="footer-information">
                <div class="content-info">
                    <div class="content-icons">
                        <a href="https://api.whatsapp.com/send?phone=3193029089&text=Hola,%20visit%C3%A9%20el%20sitio%20web%20y%20estoy%20interesado%20en%20afiliarme" target="_blank" class="msj wpp"></a>
                        <a href="https://www.instagram.com/servirpro/" target="_blank" class="msj ig"></a>
                    </div>
    
                    <div class="content-info-p">
                        <p class="text-start"><a class="color-white" href="https://api.whatsapp.com/send?phone=3193029089&text=Hola,%20visit%C3%A9%20el%20sitio%20web%20y%20estoy%20interesado%20en%20afiliarme" target="_blank" >319 302 90 89</a></p>
                        <p class="text-start"><a class="color-white" href="https://www.instagram.com/servirpro/" target="_blank">@servirpro</a></p>
                    </div>
                </div>
                <div class="content-info">
                    <div class="content-icons">
                        <a href="https://www.facebook.com/servirproafiliaciones" target="_blank" class="msj facebook"></a>
                        <a href="https://mailto:servirproout@gmail.com" target="_blank" class="msj gmail" style="width: 17px; height: 12px;"></a>
                    </div>
    
                    <div class="content-info-p">
                        <p class="text-start"><a class="color-white" href="https://www.facebook.com/servirproafiliaciones" target="_blank">/servirproafiliaciones</a></p>
                        <p class="text-start"><a class="color-white" href="mailto:servirproout@gmail.com" target="_blank">servirproout@gmail.com</a></p>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="color-white text-center">
            <p style="font-size: 15px;"> ©TODOS LOS DERECHOS RESERVADOS.</p>
            <p style="font-size: 15px;">SERVIRPRO 2023.</p>
        </div>

    </div>
</section>
