<div class="content-affiliation-process ">
    <div class="color-white affiliation-process-title">
        <h2> ¿Cómo es el proceso de afiliación?</h2>
    </div>
</div>
<div class="section-steps">
    <div class="content-steps">

        <div class="content-step-1">
            <div class="step">
                <span class="step-icon step-1"></span>
                <p>
                    Puedes hacerlo directamente en
                    nuestra oficina o a través de nuestra
                    línea de Whatsapp
                </p>
            </div>
        </div>

        <div class="step">
            <div class="img-title">
                <span class="step-icon step-2"></span>
                <h1 class="color-primary number">1</h1>
            </div>
            <p class="p-step-2">Nos envías la copia de la cédula y
                datos personales + un abono
                inicial de $40.000 pesos</p>
        </div>

        <div class="step">
            <div class="img-title">
                <span class="step-icon step-3"> </span>
                <h1 class="color-primary number">2</h1>
            </div>
            <p class="p-step-3">
                Realizamos el trámite entre 24 y
                48 horas hábiles.
            </p>
        </div>

        <div class="step">
            <div class="img-title">
                <span class="step-icon step-4"> </span>
                <h1 class="color-primary number">3</h1>
            </div>
            <p>
                Te enviamos los certificados y
                haces el pago restante de
                acuerdo al plan que elegiste.
            </p>
        </div>
    </div>
    <app-generic-button class="button-affiliation" [buttonName]="'QUIERO AFILIARME'"></app-generic-button>
</div>