<div class="content-frequent-questions">
    <div class="color-white frequent-questions-title">
        <h2> Preguntas frecuentes </h2>
    </div>
</div>
<div class="section-questions">
    <div class="questions">

        <p-accordion class="w-full">

            <div *ngFor="let item of [].constructor(3); let padre = index" style="width: 33%;">
                <ng-container *ngFor="let item of [].constructor(3); let index = index">
                    <p-accordionTab>
                        <ng-template pTemplate="header">
                            <div class="content-title">
                                {{ questions[padre][index].title }}
                                <i class="pi pi-calendar mr-2"></i>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="content">
                            <p [innerHTML]="questions[padre][index].answer">
                            </p>
                        </ng-template>
                    </p-accordionTab>
                </ng-container>
            </div>

        </p-accordion>

    </div>
    <app-generic-button class="button-questions" (onEmmitClick)="openUrl()" [buttonName]="'QUIERO AFILIARME'"></app-generic-button>
</div>
