<section class="front-page">
    
    <div class="title">
        <h1 class="color-white font-bold">Afiliaciones</h1>
        <h1 class="color-black font-bold">EPS, ARL y Caja</h1>
        <button class="bck-color-white" style="min-width: 220px;">
            En solo <span class="color-primary"> &nbsp;24 &nbsp;</span> a <span class="color-primary">&nbsp; 48
                horas</span>
        </button>
    </div>

    <app-generic-button class="button" (onEmmitClick)="openUrl()" [buttonName]="'QUIERO AFILIARME'"></app-generic-button>
</section>