<section class="front-page">
    
    <div class="title">
        <h1 class="color-white font-bold">Afiliaciones</h1>
        <p class="color-white">sin pagos por adelantado</p>
        <h1 class="color-black font-bold">EPS, ARL y Caja</h1>
        <p class="color-black">No necesitas pagar pensión</p>
        <button class="button-desktop bck-color-primary">
            En solo <span class="color-white"> &nbsp;24 horas</span>
        </button>
        <button class="button-mobile bck-color-white" style="min-width: 220px;">
            En solo <span class="color-primary"> &nbsp;24 &nbsp;</span> a <span class="color-primary">&nbsp; 48
                horas</span>
        </button>
    </div>

    <app-generic-button class="button" (onEmmitClick)="openUrl()" [buttonName]="'QUIERO AFILIARME'"></app-generic-button>
</section>