<app-header></app-header>


<span class="button-wpp tooltip" (click)="openUrl()">
    <span class="blur-out-expand"></span>
    <span class="tooltiptext" [hidden]="hideTooltip">
        <p class="text-start">
            Comunícate con uno de
            nuestros asesores...
        </p>
    </span>
</span>

<app-front-page></app-front-page>
<div class="responsive-container">
    <app-office-video></app-office-video>
    <app-affiliation-process></app-affiliation-process>
</div>
<app-testimonials></app-testimonials>
<app-frequent-questions></app-frequent-questions>
<app-footer></app-footer>